#root {
    /* height: 100%; */
    /* width: 100vw; */
    display: grid;
    grid-template-columns: 17.3% auto;
    grid-template-rows: 6% auto;
    background-color: #F0F0F7;
}

@media screen and (min-width: 1500px) {
    #root {
        width: 1500px;
        
    }
  }