#root {
    display: grid;
    grid-template-columns: 17.3% auto;
    grid-template-rows: 55px auto;
    background-color: #F0F0F7;
    min-height: 100vh;
    min-width: 100vw;
}

main {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: "Source Sans Pro", sans-serif;
    align-content: flex-start;
}

h1:first-child {
    color: #43425D;
    width: 100%;
    font-size: 28px;
    font-weight: normal;
    margin: 30px 50px 0;
}

@media screen and (min-width: 1500px) {
    #root {
        width: 1500px;
    }
}