#contactsContainer {
    font-family: "Source Sans Pro", sans-serif;
    height: 796px;
    width: 652px;
    background-color: white;
}

#contactsHeader {
    display: flex;
    margin-bottom: 20px;
}
#contactsHeader p {
  font-size: 18px;
  flex-grow: 5;
}

form.example {
    padding: 10px;
    flex-grow: 5;
    width: 156px;
}    

form.example input[type=text] {
    height: 26px;
    padding: 0px;
    font-size: 11px;
    border: 1px solid grey;
    float: left;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    height: 28px;
    float: left;
    background: #43425D;
    color: white;
    font-size: 11px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background-color:rgb(56, 56, 78);
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  #contactsSortBar {
      height: 45px;
      width: 604px;
      background-color: #F5F6FA;
      text-align: center;
  }

  #contactsSortBar h4 {
    font-size: 11px;
    color: #A3A6B4;
    font-weight: bold;
    display: inline;
  }

  #contactsList {
    display: inline;
    list-style-type: none;
}