#contactsContainer {
    font-family: "Source Sans Pro", sans-serif;
    height: 70vh;
    width: 70vh;
    flex: initial;
    max-height: 588px;
    max-width: 564px;
    background-color: white;
    margin:2em 1em 0 1em;
    position: relative;
}

/* Header, including Title, search bar, and icon */

  #contactsHeader {
    display: flex;
    padding: 1em 0em 0.5em;
    margin: 0em;
    justify-content: space-between;
    /* margin-top:auto; */
  }

  #contactsHeader p {
    color: #4D4F5C;
    font-size: 2.2vh;
    flex: auto;
    padding: 0 3em 0 1em;
    margin: auto 0;
  }

  form.search {
      border-color: #E8E9EC;
      flex: auto;
      /* flex-grow: 5; */
      /* padding: 1em 3em 1em 1em; */
      margin: auto 0;
      /* position: absolute;
      right: 0; */
  }    

  form.search input[type=text] {
    width: 70%;
    font-size: 11px;
    border: 1px solid;
    border-color: #E8E9EC;
  }

  input:focus{
    outline: none;
}

  
  /* Style the submit button */
  form.search button {
    width: 17%;
    background: #43425D;
    color: white;
    font-size: 1.55vh;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.search button:hover {
    background-color:rgb(56, 56, 78);
  }
  
  /* Clear floats */
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }

/* Table Styling */

.table-responsive {
  width: 100%;
  height: 83%;
}

.table {
  height: 100%;
  margin: 0 10px 0 0;
}

@media only screen and (max-height: 718px) {
  .table {
    height: 90%;
    margin: 0;
  }
  .table thead tr th {
    font-size: 11px !important;
  }
  .table tbody tr td {
    font-size: 13px !important;
  }
  .table tbody tr td#contactName {
    font-size: 15px !important;
  }
}

@media only screen and (min-height: 1033px) {
  .table thead tr th {
    font-size: 16px !important;
  }
  .table tbody tr td {
    font-size: 18px !important;
  }
  .table tbody tr td#contactName {
    font-size: 20px !important;
  }
}

.table thead {
  height: 15%;
}

.table thead tr {
  background-color: #F5F6FA;
  display: flex;
  width: 100%;
}

.table thead tr th {
  font-size: 1.55vh;
  color: #A3A6B4;
  font-weight: bold;
  border: none;
  width: 25%
}

.table tbody {
  height: 100%;
  overflow-y: auto;
  display: block;
}

.table tbody tr {
  display: flex;
  width: 100%;
}

.table tbody tr td {
  font-size: 1.7vh;
  color: #4D4F5C;
  opacity: 0.5;
  border-top: 1px solid rgba(222, 226, 230);
  width: 24%;
  padding: 0.8em;
}

.table tbody tr td#contactName {
  font-size: 1.9vh;
  color: #43425D;
  opacity: 1;
  width: 28%;
  border-top: 1px solid rgba(222, 226, 230, 0.5);
}

/* Icon Styling */
.cls-1 {
  fill: #e8e7ff;
}

.cls-2 {
  fill: url(#linear-gradient);
}