#contactsContainer {
    font-family: "Source Sans Pro", sans-serif;
    height: 796px;
    width: 652px;
    background-color: white;
    margin: 25px;
}

#contactsHeader {
    display: flex;
}

#contactsHeader p {
  color: #4D4F5C;
  font-size: 18px;
  flex-grow: 5;
  margin: 1em 3em 1em 4em;
  text-align: center;
}

form.search {
    border-color: #E8E9EC;
    flex-grow: 5;
    margin: 1em 3em;
}    

form.search input[type=text] {
    color: #43425D;
    height: 26px;
    padding: 0px;
    font-size: 11px;
    border: 1px solid grey;
    float: left;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.search button {
    height: 28px;
    float: left;
    background: #43425D;
    color: white;
    font-size: 11px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.search button:hover {
    background-color:rgb(56, 56, 78);
  }
  
  /* Clear floats */
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }

  #contactsSortBar {
    display: flex;
      height: 45px;
      background-color: #F5F6FA;
      text-align: center;
      margin: 0em 12px;
  }

  #contactsSortBar h4 {
    font-size: 11px;
    color: #A3A6B4;
    font-weight: bold;
    display: inline;
  }

  #contactsList {
    display: inline;
    list-style-type: none;
}

/* Icon Styling */
.cls-1 {
  fill: #e8e7ff;
}

.cls-2 {
  fill: url(#linear-gradient);
}