#contactsContainer {
    font-family: "Source Sans Pro", sans-serif;
    height: 796px;
    width: 652px;
    background-color: white;
    margin: 25px;
    position: relative;
}

/* Header, including Title, search bar, and icon */

  #contactsHeader {
      display: flex;
      padding: 1em 0em 0.5em;
      margin: 0em 1.25em;
  }

  #contactsHeader p {
    color: #4D4F5C;
    font-size: 18px;
    flex-grow: 5;
    margin: 1em 3em 1em 1em;
  }

  form.search {
      border-color: #E8E9EC;
      flex-grow: 5;
      margin: 1em 3em 1em 4em;
      text-align: center;
  }    

  form.search input[type=text] {
    height: 26px;
    padding: 0px;
    font-size: 11px;
    border: 1px solid;
    border-color: #E8E9EC;
    float: left;
  }
  
  /* Style the submit button */
  form.search button {
    height: 28px;
    float: left;
    background: #43425D;
    color: white;
    font-size: 11px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.search button:hover {
    background-color:rgb(56, 56, 78);
  }
  
  /* Clear floats */
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }

/* Sort Bar */
  #contactsSortBar {
      display: flex;
      height: 45px;
      background-color: #F5F6FA;
      text-align: center;
      margin: 0em 1.25em;
  }

  #contactsSortBar h4 {
    font-size: 11px;
    color: #A3A6B4;
    font-weight: bold;
    display: inline;
    flex-grow: 2;
  }

  

/* Contact List container and contact components */

  #contactsList {
    list-style-type: none;
  }

  .contactShort {
    display: flex;
    padding: 1em 1em;
    margin: 0em 2em;
    position: relative;
  }

  .contactShort h4{
    flex-grow: 2;
    font-size: 15px;
    color: #43425D;
    font-weight: normal;
    margin: 0.2em;
  }

  .contactShort p{
    flex-grow: 2;
    font-size: 13px;
    color: #4D4F5C;
    opacity: 0.5;
    margin: 0.2em;
  }

/* Icon Styling */
.cls-1 {
  fill: #e8e7ff;
}

.cls-2 {
  fill: url(#linear-gradient);
}