main {align-content: flex-start;}


#orgTableContainer {
    font-family: "Source Sans Pro", sans-serif;
    height: 70vh;
    width: 120vh;
    flex: auto;
    max-height: 588px;
    max-width: 900px;
    background-color: white;
    margin:2em 1em 0 1em;
    position: relative;
}

.customTableContainer:last-of-type {
  margin-bottom: 5vh;
}

/***** Header, including Title, search bar, and icon *****/

#orgTableContainer #contactsHeader {
    display: flex;
    padding: 1em 0em 0.5em;
    margin: 0em;
    justify-content: space-between;
  }

  #orgTableContainer #contactsHeader p {
    color: #4D4F5C;
    font-size: 2.2vh;
    flex: auto;
    padding: 0 3em 0 1em;
    margin: auto 0;
  }

  #orgTableContainer form.search {
      border-color: #E8E9EC;
      flex: auto;
      margin: auto 0;
      max-width: 167px;
      display: flex;
      justify-content: center;
  }    

  #orgTableContainer form.search input[type=text] {
    width: 70%;
    font-size: 11px;
    border: 1px solid;
    border-color: #E8E9EC;
    padding: 0;
  }

  input:focus{
    outline: none;
  }

  
  /* Style the submit button */
  form.search button {
    width: 17%;
    background: #43425D;
    color: white;
    font-size: 1.55vh;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.search button:hover {
    background-color:rgb(56, 56, 78);
  }
  
  /* Clear floats */
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Icon Styling */
  .cls-1 {
    fill: #e8e7ff;
  }

  .cls-2 {
    fill: url(#linear-gradient);
  }



/***** Table Styling *****/

  .table-responsive {
    width: 100%;
    height: 83%;
  }

  .table {
    height: 100%;
    margin: 0 10px 0 0;
  }

  .table thead {
    height: 15%;
  }

  .table thead tr {
    background-color: #F5F6FA;
    display: flex;
    width: 100%;
  }

  .table thead tr th {
    font-size: 1.55vh;
    color: #A3A6B4;
    font-weight: bold;
    border: none;
    width: 25%
  }

  .table tbody {
    height: 100%;
    overflow-y: auto;
    display: block;
  }

  .table tbody tr {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .table tbody tr td {
    font-size: 1.7vh;
    color: #4D4F5C;
    opacity: 0.5;
    border-top: 1px solid rgba(222, 226, 230);
    width: 24%;
    padding: 0.8em;
  }

  .table tbody tr td.indentToCenter {
    text-indent: 3em;
  }

  .table tbody tr td#contactName {
    font-size: 1.9vh;
    color: #43425D;
    opacity: 1;
    width: 28%;
    border-top: 1px solid rgba(222, 226, 230, 0.5);
  }



/***** Media Queries *****/

  @media only screen and (max-height: 718px) {
    #contactsHeader p {
      font-size: 15px;
    }
    .table {
      height: 90%;
      margin: 0;
    }
    .table thead tr th {
      font-size: 11px !important;
    }
    .table tbody tr td {
      font-size: 12px !important;
    }
    .table tbody tr td#contactName {
      font-size: 14px !important;
    }
  }

  @media only screen and (min-height: 900px), screen and (min-width: 1470px ) {
    #contactsHeader p {
      font-size: 20px;
    }
    .table thead tr th {
      font-size: 13px;
    }
    .table tbody tr td {
      font-size: 14px;
    }
    .table tbody tr td#contactName {
      font-size: 17px;
    }
  }