#sideBar {
    background-color: #43425D;
    width: 260px;
    height: 100%;
    display: block;
    float: left;
    position: fixed;
}

.navLinkContainer {
    height: 55px;
    width: 260px;
    position: relative;
}

#navTitle {
    letter-spacing: 0.2em;
    font-weight: bold;
    display: block;
    padding: 1.2em 2em;
}

.navLinkContainer a {
    font-size: 15px;
    color: #FFFFFF;
    font-family: "Source Sans Pro", sans-serif;
    text-decoration: none;
    display: block;
    padding: 1.2em 3.5em;

}

.navLinkContainer a.active {
    background-color:rgba(0,0,0,0.1);
}

.navLinkContainer a.active + span {
    display: block;
    background-color: #A3A0FB;
    position: absolute;
    left: 0;
    top: 0;
    height: 55px;
    width: 5px;
}

#navTitleContainer {
    background:rgba(0,0,0,0.1);
}
